<div class="card bg-light border border-light">
  <div class="card-body">
    <h4 class="card-title"><%= collection.name %></h4>
    <p class="card-text"><%= collection.description %></p>
    <%= link_to "View Collection", collection_path(collection), class: "btn btn-outline-info" %>
  </div>
</div>
