<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th ><i class="fa fa-cogs"></i> Modify</th>
    </tr>
  </thead>
  <tbody >
  <% collections.each do |collection| %>
    <%= render "collections/collection_row", collection: collection %>
  <% end %>
  </tbody>
</table>
