<div class="card">
  <h4 class="card-header">Edit Collection</h4>
  <div class="card-body">
    <%= render "collections/form", collection: @collection, action_url: collection_path(@collection), method_type: :put %>
  </div>
</div>
