<div class="card">
  <h4 class="card-header">New Collection</h4>
  <div class="card-body">
    <%= render "collections/form", collection: @collection, action_url: collections_path, method_type: :post %>
  </div>
</div>
