<div class="row">
  <div class="well well-sm col-lg-offset-1" >
    <h3  style="text-align: center">TEAM <%= @team.number %> ( <%= @team.name %> )</h3>
    <button class="btn btn-primary btn-raised" >Request to Join Team</button>
  </div>
</div>
