<div class="row">
   <div class="media">
    <div class="media-left media-middle">
      <% if course %>
        <a href="<%= url_for(course) %>" style="color:<%= course.color %>"><i class="material-icons" style="font-size: 60pt;">book</i></a>
      <% else %>
        <a href='/courses/{{id}}' style='color:{{color}}'><i class='material-icons' style='font-size: 60pt;'>book</i></a>
      <% end %>
    </div>
    <div class="media-body">
      <% if course %>
        <h3 class="title"><%= course.name %> </h3>
  	    <p class="desc"><%= course.description %></p>
      <% else %>
        <h3 class='title'>{{name}}</h3>
        <p class='desc'>{{description}}</p>
      <% end %>
    </div>
    <% if !course %>
    {{{input}}}
    <% end %>
  </div>
</div>
