<div class="col-lg-8">
  <div class="bs-component">
  <div class="panel panel-defaultpanel-lg">
    <%= render partial: "tracks/form" %>
  </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="bs-component">
  <div class="panel panel-defaultpanel-lg" id="side-result-view">
    <h3>Track Update</h3>
    Thanks for contributing to the Community.
  </div>
  </div>
</div>
