# extends 'base.html'
# block content
<div class="row">
  <div class="row">
    <div class="well well-lg">
      <div class="row media" >
      <div class="media-left media-middle">
        <i class="mdi-maps-layers" style="font-size: 60pt;"></i>
      </div>
      <div class="media-body">
        <h3 class="title">{{course.name}}</h3>
        <p class="desc">List Topics</p>  
        <button class="btn btn-info" ><span class="mdi-content-content-copy"></span> Start</button>

        # for lesson in course.lessons
        # set lesson_key = lesson
        # set lesson = lesson.get()
        <div class="media" style="border-left: 0.25em solid {{lesson.color}}">
          <div class="media-left media-middle">
            <a href="/lesson/{{lesson.key.id()}}">
             <i class="mdi-av-play-circle-outline" style="font-size: 50pt;"></i>
            </a>
          </div>
          <div class="media-body">
            <h5 class="media-heading"><b>{{lesson.name}}</b></h5>
            <p class="desc">{{lesson.description}}</p>
          </div>
        </div>
        # endfor

      </div>
    </div>
    </div>
  </div>
</div>


# endblock
