<div class="row">
  <div class="well well-lg">
    <div class="row media" >

    <div class="media-left media-middle">
      <i class="mdi-maps-layers" style="font-size: 60pt;"></i>
    </div>
    <div class="media-body" >
      <h3 class="title">{{track_db.name}}</h3>
      <p class="desc">List Topics: {{track_db.topics|join(' ')}}</p>  
      <button class="btn btn-info" ><span class="mdi-image-slideshow"></span>Start Track</button>
      <button class="btn btn-primary"  data-toggle="collapse" data-target="#collapseCourses-{{track_db.key.urlsafe()}}" aria-expanded="false" aria-controls="collapseCourses-{{track_db.key.urlsafe()}}"><span class="mdi-content-content-copy"></span>View Courses</button>
    </div>

    <div  class="collapse" id="collapseCourses-{{track_db.key.urlsafe()}}">
      # for course in track_db.get_courses()
      # set course_key = course
      # set course = course.get()
      <div class="media" style="border-left: 0.25em solid {{course.color}}">
        <div class="media-left media-middle">
          <a href="{{url_for('course', course_key=course.key.urlsafe())}}">
           <i class="mdi-av-play-circle-outline" style="font-size: 50pt;"></i>
          </a>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><b>{{course.name}}</b></h5>
          <p class="desc">{{course.description}}</p>
        </div>
      </div>
      # endfor
    </div>

  </div>
  </div>
</div>