<h1>Hi there Moderator, below are the latest activities on FIRSTMastery.</h1>
<div class="row">
  <div class="well well-md col-sm-12">
    STATS
  </div>
  <div class="col-lg-12">
    <% @tickets.each do |ticket| %>
      <%= ticket_card(ticket) %>
    <% end %>
  </div>
</div>
