<footer class="footer" role="contentinfo">
  <div class="container">

    <div class="col-lg-4">
      <div class="bs-component">
         <p>An open learning platform,<br/> for all things <a class='api-url' href="http://www.firstinspires.org/" target="_blank" >FIRST</a></p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bs-component">
      <p>&copy; 2015 - FIRSTMastery </p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bs-component">
      <ul class="nav navbar-nav navbar-right">

      <!--<li><a class="btn btn-danger btn-raised" href="{{url_for('signout')}}"><span class="fa fa-fw fa-sign-out"></span> Sign out</a></li>-->

      <li><a class="btn btn-primary btn-raised" href="#"><span class="fa fa-fw fa-sign-in"></span> Sign in</a></li>
      <li class="divider"></li>
      <li><a class="btn btn-info btn-raised" href="#"><span class="fa fa-fw fa-chevron-up"></span> Sign up</a> </li>

      </ul>
      </div>
    </div>
  </div>
</footer>
