<div class="row">
    <div class="bs-component">
      <div class="well well-lg">
        <h2> What's FIRSTMastery?</h2>
        <p>FIRSTMastery is an attempt to create a learning platform for FIRST community, where the community can submit learning materials as well as learn with the provided resources by others. The platform is built to allow flexibility in material source. Currently it primarily supports youtube videos and Vimeo videos. As the project development continues more material sources will be available such as embedable presentations, and or PDFs.</p>

        <h2> Learning Structure</h2>
        <p>There are Tracks, Courses and Lessons. The learning structure is provided an organized approach at learning.</p>
        <ul>
          <li><h5>Tracks</h5>
            <p>Tracks are a collection of courses. An example of a track is "FRC Pneumatics"</p>
          </li>
          <li><h5>Courses</h5>
            <p>Courses are a collection of lessons. An example of a course is "How to assemble your Pneumatic system."</p>
          </li>
          <li><h5>Lessons</h5>
            <p>Lessons are the lowest level in the learning structure. A lesson is an individualized lesson to learn one specific think. An example of a lesson is "Cutting the Pneumatic Tube."</p>
          </li>
        </ul>

        <h2 id="faq"> F.A.Q </h2>
        <ul>
          <li><h5>What types of learning contents can I add?</h5>
            <p>It can be a video on scouting at events, assembling the robot, writting a good business plan, etc... Generaly anything that could help the FIRST community grow.</p>
          </li>
          <li><h5>How can I help?</h5>
            <p>You can contibute learning materials, become a moderator, or contribute to our <a href="https://github.com/wilfriedE/FIRSTMastery">source code</a>.</p>
          </li>
          ...
        </ul>
      </div>
    </div>
</div>
