<div class="row">
    <div class="bs-component">
      <div class="well well-lg">
        <h2> What's <%= Rails.configuration.platform["name"] %>?</h2>
        <p><%= Rails.configuration.platform["description"] %></p>
      </div>
    </div>
</div>
