<div class="row">

  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg highlight_card">
        <a href="#"><%= image_tag "programs/IconHorizontal/RGB/FIRSTRobotics_iconHorz_RGB.png", class: "topic_img"%> <!--<img class="topic_img" src="/p/img/old/frc.gif">--></a>
        <p>Access materials relating to the FRC (FIRST Robotics Competition) topic.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg highlight_card">
        <a href="#"><%= image_tag "programs/IconHorizontal/RGB/FIRSTTech_iconHorz_RGB.png", class: "topic_img"%><!--<img class="topic_img" src="/p/img/old/ftc.gif">--></a>
        <br/>
        <p>Access materials relating to the FTC (FIRST Tech Challenge) topic.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg highlight_card">
        <a href="#"><%= image_tag "programs/IconHorizontal/RGB/FIRSTLego_iconHorz_RGB.png", class: "topic_img"%><!--<img class="topic_img" src="/p/img/old/fll.gif">--></a>
        <br/>
        <p>Access materials relating to the FLL (FIRST Lego League) topic.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">

    <div class="col-lg-4">
      <div class="bs-component">
        <div class="well well-lg highlight_card">
          <a href="#"><%= image_tag "programs/IconHorizontal/RGB/FIRSTLegoJr_iconHorz_RGB.png", class: "topic_img"%><!-- <img class="topic_img" src="/p/img/old/jrfll.gif">--></a>
          <p>Access materials relating to the FLL Jr. (FIRST Lego League Jr.) topic.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bs-component">
        <div class="well well-lg highlight_card">
          <h2><a href="/contribute">Contribute Materials</a></h2>
          <p>Help make this community better by contributing materials.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bs-component">
        <div class="well well-lg highlight_card">
          <h2><a href="/about">What's FIRSTMastery</a></h2>
          <p>Learn more about the FIRSTMastery project.</p>
        </div>
      </div>
    </div>

 </div>
