<div class="row well well-sm col-sm-offset-1" >
  <h3  style="text-align: center">Latest Materials</h3>
</div>
<% if @lessons.count > 0 %>
<h1 style="text-align: center">Lesson</h1>
<div class="row">
  <% @lessons.each do |lesson| %>
    <div class="col-lg-5 col-lg-offset-1">
          <%= lesson_card(lesson) %>
    </div>
  <%end %>
</div>
<% end %>

<% if @courses.count > 0 %>
<h1 style="text-align: center">Course</h1>
<div class="row">
  <% @courses.each do |course| %>
    <div class="col-lg-5 col-lg-offset-1">
          <%= course_card(course) %>
    </div>
  <%end %>
</div>
<% end %>

<% if @tracks.count > 0 %>
<h1 style="text-align: center">Track</h1>
<div class="row">
  <% @tracks.each do |track| %>
    <div class="col-lg-5 col-lg-offset-1">
          <%= track_card(track) %>
    </div>
  <%end %>
</div>
<% end %>
