<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Platform preferences</h4>
        <p class="card-text">Update platform settings.</p>
        <%= link_to "Go to Preferences", administrate_preferences_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Pages</h4>
        <p class="card-text">Update/Add/Delete pages.</p>
        <%= link_to "Go to Pages", administrate_pages_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>
