<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Preference</th>
      <th>Value</th>
      <th><i class="fa fa-cogs"></i> Modify</th>
    </tr>
  </thead>
  <tbody >
  <% preferences.each do |preference| %>
    <%= render "preferences/preference_row", preference: preference %>
  <% end %>
  </tbody>
</table>
