$("#<%= @pref_row_id %>").replaceWith("<tr><td colspan='3'><%= escape_javascript(render 'preference_form', { preference: @preference, action_url: update_preference_path(@preference), method_type: :put }) %></td></tr>");
