<div class="card bg-light border border-light">
  <div class="card-body">
    <h4 class="card-title"><%= lesson.name %></h4>
    <p class="card-text"><%= lesson.description %></p>
    <%= link_to "View Lesson", lesson_path(lesson), class: "btn btn-outline-info" %>
  </div>
</div>
