# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      {{utils.back_link('Back to topic list', 'topic_list')}}
      {{title}}
    </h1>
  </div>
  <form method="POST" action="{{post_path}}" novalidate>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        {{form.csrf_token}}
        {{forms.text_field(form.name, autofocus=True)}}
        {{ form.description.label }} {{ form.description(class='form-control') }}
        {{forms.text_field(form.color)}}
        {{forms.checkbox_field(form.approved)}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" {{forms.data_loading_text()}}>
          # if topic_db.key
            Update
          # else
            Create
          # endif
        </button>
      </div>
    </div>
  </form>
# endblock
