<div class="row media" >
  <div class="media-left media-middle" style="border-left: 0.25em solid #03a9f4">
    <a href="<%= url_for(lesson_version) %>" style="color:<%= lesson_version.color %>"><i class="material-icons" style="font-size: 60pt;">play_circle_outline</i></a>
  </div>
  <div class="media-body">
    <h3 class="title"><%= lesson_version.name %></h3>
	<p class="desc"><%= lesson_version.description %></p>
  </div>
</div>
