<div class="card bg-light border border-light">
  <div class="card-body">
    <h4 class="card-title"><%= lesson_version.name %></h4>
    <p class="card-text"><%= lesson_version.description %></p>
    <%= link_to "View LessonVersion", lesson_version_path(lesson_version), class: "btn btn-outline-info" %>
  </div>
</div>
