<div class="col-lg-8">
  <div class="bs-component">
  <div class="well well-lg">
    <%= render partial: "lesson_versions/form" %>
  </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="bs-component">
  <div class="well well-lg" id="side-result-view">
    <% if @lesson %>
      <h3>Lesson Update Proposal</h3>
    <% else %>
      <h3>Create New Lesson</h3>
    <% end %>
    Thanks for contributing to the Community.
  </div>
  </div>
</div>
