<h1>LessonVersions#new</h1>
<p>Find me in app/views/lesson_versions/new.html.erb</p>
<div class="col-lg-8">
  <div class="bs-component">
  <div class="well well-lg">
    <%= render partial: "lesson_versions/form" %>
  </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="bs-component">
  <div class="well well-lg" id="side-result-view">
    Thanks for contributing to the Community.
  </div>
  </div>
</div>
