<div class="card border border-light">
  <div class="card-body bg-light">
    <h4 class="card-title text-primary"><%= @lesson_version.name %></h4>
    <p class="card-text text-muted"><%= @lesson_version.description %></p>
    <p class="card-text"><small class="text-muted">Contributed by: <%= @lesson_version.creator.nickname %></small></p>
  </div>
</div>

<div class="w-100 pt-2 border border-light rounded-bottom pl-4 pr-4">
    <%= render "lesson_versions/viewport", lesson_version: @lesson_version %>
</div>
