  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-sm btn-primary btn-raised" href="#">
        <span class="fa fa-fw fa-check-circle"></span> Vote
      </a>
      # if current_user.id > 0
       #if current_user.user_db.key == lesson_version.contributor or current_user.admin
 		<a class="btn btn-sm btn-info btn-raised" href="{{url_for('lesson_version_update', lesson_version_id=lesson_version.key.id())}}">
	    	<span class="fa fa-fw fa-edit"></span> Edit
	    </a>
	    <a class="btn btn-sm btn-danger btn-raised" href="#">
	    	<span class="fa fa-fw fa-close"></span> Delete
	    </a>
	   #endif
	  # endif
    </div>
  </div>