<div class="well well-lg">
	<div class="embed-responsive embed-responsive-16by9">
	#if lesson_version_data.service_type == "youtube"
		# include 'lesson/youtube_player.html'
	#elif lesson_version_data.service_type == "vimeo"
		# include 'lesson/vimeo_player.html'
	#endif
	</div>
	#if lesson_version_data.service_type == "youtube"
		# include 'lesson/beautiful_player_bar.html'
	#endif

	{{lesson_version.description}}
	{{lesson_version.contributor}}
    Add a button that shows dropdown of all contributors to lesson.
	
</div>