# extends 'lesson/lesson_base.html'
# block lesson_content
  <div class="col-lg-8">
    <div class="bs-component" id="lesson-player">
    # include 'lesson/lesson_buttons.html'
    <div id="viewport"></div>
    Details:<H2>Name:</H2> {{lesson.name}}
    <H2>Description:</H2>{{lesson.description}}
    <H2>Version:</H2>{{lesson.latest_version}}
    <H2>Versions:</H2>{{lesson.lesson_versions}}
    <H2>Topics:</H2>{{lesson.topics}}
    <H2>Is a:</H2>{{lesson.is_a}}
    <H2>Data:</H2>{{lesson.data}}
      All Contributors
      #for contributor in lesson.contributors
      #set contributor = contributor.get()
        {{contributor.load_card()|safe }}
      #endfor
    </div>
      //Discuss Comments for Lesson
  </div>

  <div class="col-lg-3">
    <div class="bs-component">
    <div class="well well-lg">
      "You are watching a Lesson."
      #if display_type == 'lesson'
        Take Quiz if There is a Quiz for this lesson else, learn more button 
      #elif display_type == 'lesson-version'
        Show All versions of the current lesson
      #elif display_type == 'course-lesson'
        Take Quiz if There is Quiz or Next Lesson if there is next lesson, Previous Lesson if there is previous lesson
        To Do is Logic for Track 
      #endif
    </div>
    </div>
  </div>

# include 'lesson/lesson_view_scripts.html'
# endblock
