# extends 'lesson/lesson_base.html'

# block lesson_content
  <div class="col-lg-8">
    <div class="bs-component">
    <div class="well well-lg">
      do an ajax call to render the lesson version view with lesson version key to this path /lesson_version/<version_key>

      Add lesson name here {{lesson.name}}
      Add a button that shows dropdown of all contributors to lesson.
    </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="bs-component">
    <div class="well well-lg">
      IF there is a quiz for this lesson show the Take Quiz button!
      IF this a Track of lessons then show the next/previous button

      Otherwise,show other versions of the current lesson if available
    </div>
    </div>
  </div>
# endblock
