# extends 'lesson/lesson_base.html'
# block lesson_content
  <div class="col-lg-8">
    <div class="bs-component" id="lesson-player">
    # include 'lesson/lesson_buttons.html'
    <div id="viewport"></div>
    Details:<H2>Name:</H2> {{lesson_db.name}}
    <H2>Description:</H2>{{lesson_db.description}}
    <H2>Version:</H2>{{lesson_db.latest_version}}
    <H2>Versions:</H2>{{lesson_db.lesson_versions}}
    <H2>Topics:</H2>{{lesson_db.topics}}
    <H2>Is a:</H2>{{lesson_db.is_a}}
    <H2>Data:</H2>{{lesson_db.data}}
      All Contributors
      #for contributor in lesson_db.contributors
      #set contributor = contributor.get()
        {{contributor.load_card()|safe }}
      #endfor
    </div>
      //Discuss Comments for Lesson
  </div>

  <div class="col-lg-3">
    <div class="bs-component">
    <div class="well well-lg">
      "You are watching a lesson_db."
      #if lesson_db.quiz
        Take Quiz button 
      #endif
      #if display_type == 'course-lesson'
        #if l_previous or l_previous >= 0
          <a class="btn btn-sm btn-info btn-raised" href="{{url_for('course_lesson', course_key=course_db.key.urlsafe(), position=l_previous)}}">
          <span class="fa fa-fw fa-arrow-circle-left"></span> Previous Lesson
         </a>
        #endif
        #if l_next or l_next >= 0
         <a class="btn btn-sm btn-info btn-raised" href="{{url_for('course_lesson', course_key=course_db.key.urlsafe(), position=l_next)}}">
          <span class="fa fa-fw fa-arrow-circle-right"></span> Next Lesson
         </a>
        #endif
        <a class="btn btn-sm btn-primary" href="{{url_for('course', course_key=course_db.key.urlsafe())}}">
          <span class="fa fa-fw fa-eye"></span> View Course
         </a>
      #endif
    </div>
    </div>
  </div>

# include 'lesson/lesson_view_scripts.html'
# endblock
