<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FLzfXQSPBOg"></iframe>
</div>
If it's youtube import a template for youtube controller and if it's vimeo do import the one for vimeo instead.
using preloaded youtube javascript player api controll the scrolling, play/pause/FULLSCREEN and other controlls of the loaded video.


Figure a good way to add rating button or just  have an up and down button that updates their votes. 

<a href="javascript:void(0)" class="btn btn-success btn-fab btn-raised mdi-action-grade"></a>
<a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-grade"></a>
<a href="javascript:void(0)" class="btn btn-warning btn-fab btn-raised mdi-action-grade"></a>
<a href="javascript:void(0)" class="btn btn-danger btn-fab btn-raised mdi-action-grade"></a>