  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-sm btn-primary btn-raised" href="{{url_for('propose_new_lesson_version', lesson_id=lesson.key.id())}}">
        <span class="fa fa-fw fa-plus"></span>Propose an update
      </a>
      <a class="btn btn-sm btn-primary btn-raised" href="#">
        <span class="fa fa-fw fa-map-pin"></span> Pin This
      </a>
      <a class="btn btn-sm btn-primary btn-raised" href="#">
        <span class="fa fa-fw fa-check-circle"></span> Vote
      </a>
	  # if current_user.admin
	    <a class="btn btn-sm btn-info btn-raised" href="{{url_for('lesson_version_update', lesson_version_id=lesson.latest_version.id())}}">
	    	<span class="fa fa-fw fa-edit"></span> Edit
	    </a>
	    <a class="btn btn-sm btn-danger btn-raised" href="#">
	    	<span class="fa fa-fw fa-close"></span> Delete
	    </a>
	    <!--Note delete only puts the lesson into deadlock and disaproved. -->
	  # endif
    </div>
  </div>