# extends 'lesson/lesson_base.html'

# block lesson_content
  <div class="col-lg-8">
    <div class="bs-component">
    <div class="well well-lg" id="new-lesson-form-container">
      <form action="/new-lesson/" method="post"   id="new-lesson-form" data-autosubmit >
        {{form.csrf_token}}
        <div class="panel-group">
          <div class="form-group">
          {{ form.name.label }} {{ form.name(class='form-control')  }}
          </div>
          <div class="form-group">
          {{ form.topics.label }}<div class="dotted-box">{{ form.topics(class='form-control') }}</div>
          </div>
          <div class="form-group">
          {{ form.description.label }} {{ form.description(class='form-control') }}
           </div>
           <div class="form-group">
          {{ form.is_a.label }}<div class="dotted-box">{{ form.is_a(class='form-control', id='content-type') }}</div>
           </div>
        </div>
        <button type="submit" id="submit-form-btn" class="btn btn-primary btn-lg btn-block btn-loading">
          Continue
        </button>
      </form>
    </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="bs-component">
    <div class="well well-lg" id="side-result-view">
      Thanks contributing to the Community.
    </div>
    </div>
  </div>
  <script type="text/javascript">
    var resultview = "side-result-view";
    window.onload = function() {
      var topics = [];
      var formats = [];
      $.ajax({
        url: '/api/v1/topics',
        type: 'GET',
        error: function() {
            console.log("unable to retrieve topics");
        },
        success: function(res) {
           topics = res.result;
           initTopicSelectize ();
        }
      });
      $.ajax({
        url: '/api/v1/supported',
        type: 'GET',
        error: function() {
            console.log("unable to retrieve supported formats");
        },
        success: function(res) {
           formats = res.result;
           initContentTypeSelectize ();
        }
      });

      function initTopicSelectize () {
        $('#topics').selectize({
          delimiter: ',',
          persist: false,
          options: topics,
          valueField: "name",
          sortField: 'name',
          searchField: ['name', 'description'],
          render: {
            item: function(item, escape) {
                return '<div>' +
                    (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '')
                '</div>';
            },
            option: function(item, escape) {
                var label = item.name || item.description;
                var caption = item.name ? item.description : null;
                return '<div>' +
                    '<span class="label">' + escape(label) + ' </span>' +
                    (caption ? '<span class="caption"> ' + escape(caption) + '</span>' : '') +
                '</div>';
            },
          }
        });
      };

      function initContentTypeSelectize () {
        $('#content-type').selectize({
            delimiter: ',',
            persist: false,
            options: formats,
            maxItems: 1,
            valueField: "name",
            sortField: 'name',
            searchField: ['name', 'description'],
            render: {
              item: function(item, escape) {
                  return '<div>' +
                      (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '')
                  '</div>';
              },
              option: function(item, escape) {
                  var label = item.name || item.description;
                  var caption = item.name ? item.description : null;
                  return '<div>' +
                      '<span class="label">' + escape(label) + ' </span>' +
                      (caption ? '<span class="caption"> ' + escape(caption) + '</span>' : '') +
                  '</div>';
              },
            }
        });
      };

    };
  </script>
# endblock
