# extends 'lesson/lesson_base.html'

# block lesson_content
  <div class="col-lg-8">
    <div class="bs-component">
    <div class="well well-lg">
      <form action="/new-lesson/" method="post"   id="new-lesson-form" data-autosubmit >
        {{form.csrf_token}}
        <div class="panel-group">
          <div class="form-group">
          {{ form.name.label }} {{ form.name(class_='form-control')  }}
          </div>
          <div class="form-group">
          {{ form.topics.label }}{{ form.topics(class_='form-control') }}
          </div>
          <div class="form-group">
          {{ form.description.label }} {{ form.description(class_='form-control') }}
           </div>
           <div class="form-group">
          {{ form.video_url.label }}{{ form.video_url(class_='form-control') }}
           </div>
        </div>
        <button type="submit" id="submit-form-btn" class="btn btn-primary btn-lg btn-block btn-loading">
          Create a New Lesson
        </button>
      </form>
    </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="bs-component">
    <div class="well well-lg" id="side-result-view">
      Nothing here yet
    </div>
    </div>
  </div>
  <script type="text/javascript">
      var csrftoken = "{{ csrf_token() }}";
      var resultview = "side-result-view"
  </script>
# endblock
