html, body {
  margin:0;
	padding:0;
	height:100%;
	line-height:1.5em;
  > .container {
    padding-top: floor($line-height-computed / 2);
    padding-bottom: $line-height-computed * 2;
    margin-bottom: 100px;
  }
}

#page-content-wrapper {
  margin-bottom: 100px;
}
.alert-announcement {
  display: none;
  &.container {
    border-radius: 0;
    margin-bottom: 100px;
    padding: $alert-padding;
  }
  > .close {
    right: 0;
  }
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}

.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}

.dotted-box {
  border: 1px dotted rgba(0, 0, 0, 0.84);
}
.recaptcha {
  min-height: 78px;
}

.primaryhover {
    cursor:pointer;
}

.primaryhover:hover, .primaryActive, .primaryActive:hover {
    background:#f5f5f5;
    color:#00b0ff  !important;
}

.shadowless .well, .well.shadowless {
  box-shadow: none !important;
}

.material-icons {
  font-size: 18px;
}
