.timeDisplay {
	line-height: 30pt;
}
.topic_img {
	width: 100%;
	margin-bottom: 2em;
}
.highlight_card {
	min-height: 16em;
}
.scrollable {
	position: relative;
	height: 100%;
}
.img_50x50 img, img.img_50x50 {
	width: 50px;
	height: 50px;
}
.img_100x100 img, img.img_100x100 {
	width: 100px;
	height: 100px;
}

.btn {
	border: none;
}

a:hover, a:focus {
	color: #009688;
}
