.timeDisplay {
	line-height: 30pt;
}
.topic_img {
	width: 100%;
	margin-bottom: 2em;
}
.highlight_card {
	min-height: 16em;
}
.scrollable {
	position: relative;
	height: 100%;
}
.img_50x50 img, img.img_50x50 {
	width: 50px;
	height: 50px;
}
.img_100x100 img, img.img_100x100 {
	width: 100px;
	height: 100px;
}

.btn {
	border: none;
}

a:hover, a:focus {
	color: #009688;
}

.form-group {
	margin: 10px 0px 10px 0px;
}

.form-group .form-control {
	margin-bottom: 0px;
}

.modal-content .modal-body {
	padding-top: 0px;
}

#searchable-input-body .remove_fields {
	visibility: hidden;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable-item-hover {
	cursor: move;
	border: 1px dotted #82AF92;
	padding: 0.8em;
	background: #F5F5F5;
}
