<div class="row media" >
  <div class="media-left media-middle" style="border-left: 0.25em solid #03a9f4">
    <a href="<%= url_for user_profile_path(user) %>"  ><i class="material-icons" style="font-size: 60pt;">face</i></a>
  </div>
  <div class="media-body">
    <h3 class="title"><%= user.email %></h3>
	<p class="desc"></p>
  </div>
</div>
