# extends 'base.html'
# block content
<div class="row">
  
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2><a href="{{url_for('new_lesson')}}"> Create a Lesson</a></h2>
        <p>Share a lesson with the community. </p>
      </div>
    </div>
  </div>
  
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2><a href="{{url_for('new_course')}}">Create a Course</a></h2>
        <p>Agregate lessons to create a course.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2><a href="{{url_for('new_track')}}">Create a Track</a></h2>
        <p>Create a course track.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2>Become a moderator</h2>
        <p>Approve contents and help the community become a great place.</p>
      </div>
    </div>
  </div>
  
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2>Contribute on github :)</h2>
        <p>Help maintain the source code and make this a better platform.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bs-component">
      <div class="well well-lg">
        <h2>---</h2>
        <p>-----------</p>
      </div>
    </div>
  </div>

</div>

# endblock